@media screen and (max-width: 767px) {
  .signInDivider {
    display: none !important;
  }
  .googleButtonSegment {
    padding-top: 0em !important;
    padding-right: 4em !important;
    padding-left: 4em !important;
    padding-bottom: 1em !important;
  }
  .googleButtonRow {
    padding-top: 0em !important;
  }
}
@media screen and (min-width: 768px) {
  .googleButtonSegment {
    padding-right: 4em !important;
    padding-left: 4em !important;
  }
}